{% extends "admin/base_site.html" %}

{% load staticfiles %}
{% load chartkick %}

{% block extrahead %}{{ block.super }}
<script src="http://www.google.com/jsapi"></script>
<script src="{% static 'chartkick.js' %}"></script>
{% endblock %}

{% block content %}
{% line_chart data %}
{% endblock %}
