* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 76vw;
    height: 76vh;
    left: 12vw;
    top: 12vh;
    position: absolute;
    background: #1D1D1D;
    box-shadow: inset 0px 0px 1px 10px #000;
    border-radius: 20px;
}

#outer:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #000;
    z-index: 2;

    background: -moz-linear-gradient(-45deg, rgba(149, 149, 149, 0.5) 0%, rgba(13, 13, 13, 0.55) 19%, rgba(1, 1, 1, 0.64) 50%, rgba(10, 10, 10, 0.69) 69%, rgba(51, 51, 51, 0.73) 84%, rgba(22, 22, 22, 0.76) 93%, rgba(27, 27, 27, 0.78) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(149, 149, 149, 0.5)), color-stop(19%, rgba(13, 13, 13, 0.55)), color-stop(50%, rgba(1, 1, 1, 0.64)), color-stop(69%, rgba(10, 10, 10, 0.69)), color-stop(84%, rgba(51, 51, 51, 0.73)), color-stop(93%, rgba(22, 22, 22, 0.76)), color-stop(100%, rgba(27, 27, 27, 0.78)));
    background: -webkit-linear-gradient(-45deg, rgba(149, 149, 149, 0.5) 0%, rgba(13, 13, 13, 0.55) 19%, rgba(1, 1, 1, 0.64) 50%, rgba(10, 10, 10, 0.69) 69%, rgba(51, 51, 51, 0.73) 84%, rgba(22, 22, 22, 0.76) 93%, rgba(27, 27, 27, 0.78) 100%);
    background: -o-linear-gradient(-45deg, rgba(149, 149, 149, 0.5) 0%, rgba(13, 13, 13, 0.55) 19%, rgba(1, 1, 1, 0.64) 50%, rgba(10, 10, 10, 0.69) 69%, rgba(51, 51, 51, 0.73) 84%, rgba(22, 22, 22, 0.76) 93%, rgba(27, 27, 27, 0.78) 100%);
    background: -ms-linear-gradient(-45deg, rgba(149, 149, 149, 0.5) 0%, rgba(13, 13, 13, 0.55) 19%, rgba(1, 1, 1, 0.64) 50%, rgba(10, 10, 10, 0.69) 69%, rgba(51, 51, 51, 0.73) 84%, rgba(22, 22, 22, 0.76) 93%, rgba(27, 27, 27, 0.78) 100%);
    background: linear-gradient(135deg, rgba(149, 149, 149, 0.5) 0%, rgba(13, 13, 13, 0.55) 19%, rgba(1, 1, 1, 0.64) 50%, rgba(10, 10, 10, 0.69) 69%, rgba(51, 51, 51, 0.73) 84%, rgba(22, 22, 22, 0.76) 93%, rgba(27, 27, 27, 0.78) 100%);
    border-radius: 20px;

    opacity: .5;
}

#outer:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ddd;
    opacity: .1;
    border-radius: 20px;
    z-index: 1;
}

.led {
    position: absolute;
    bottom: 3vw;
    left: 3vw;
    height: 0.5vh;
    width: 0.5vh;
    border-radius: 3vh;
}

.led:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 5px;
    opacity: .5;

    -webkit-animation: pulseled 5s linear infinite;
    -moz-animation: pulseled 5s linear infinite;
    -ms-animation: pulseled 5s linear infinite;
    animation: pulseled 5s linear infinite;
}

.led:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 5px;
    opacity: .5;

    -webkit-animation: pulseled 5s linear infinite;
    -moz-animation: pulseled 5s linear infinite;
    -ms-animation: pulseled 5s linear infinite;
    animation: pulseled 5s linear infinite;
}

.led.green {
    background: #00ff00;
    box-shadow: 0px 0px 2px 2px #00ff00;
    border: 1px solid rgba(0, 100, 0, .5);
}
.led.green:before {
    box-shadow: 0px 0px 4px 5px rgba(20, 255, 20, .5);
}
.led.green:after {
    background: radial-gradient(ellipse at center, rgba(161, 255, 0, 0.45) 0%, rgba(33, 244, 22, 0.61) 100%);
    box-shadow: 0px 0px 2px 2px rgba(200, 255, 200, .5);
}

.led.red {
    background: #ff0000;
    box-shadow: 0px 0px 2px 2px #ff0000;
    border: 1px solid rgba(100, 0, 0, .5);
}
.led.red:before {
    box-shadow: 0px 0px 4px 5px rgba(255, 20, 20, .5);
}
.led.red:after {
    background: radial-gradient(center, ellipse cover, rgba(255, 161, 0, 0.45) 0%, rgba(244, 33, 22, 0.61) 100%);
    box-shadow: 0px 0px 2px 2px rgba(255, 200, 200, .5);
}

#screen {
    width: 66vw;
    height: 60vh;
    top: 8vh;
    left: 5vw;
    position: absolute;
    background-color: #111;
    z-index: 3;
    border-radius: 10px;
}

#sign {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
