{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-4">

      <!-- Node Information -->
      {% for node in nodes %}
      <div class="card node-card bg-light mb-3 {% if not node.is_online %}offline-node{% endif %}"
           style="max-width: 18rem;">
        <div class="card-body" style="padding-top: 0.9rem; padding-bottom: 0.9rem">
          <div class="row">

            <div class="col-sm-3 text-center" style="padding: 2px">

              <!-- * icon -->
              <i class="fas fa-fw fa-desktop fa-2x"
                 style="color: #989D9F"></i><br>

              <!-- * status label -->
              <span class="badge badge-{% if node.is_online %}success{% else %}danger{% endif %}"
                    style="width: 55px; padding: 5px 0px; margin-top: 8px">
                {% if node.is_online %}ON{% else %}OFF{% endif %}
              </span>
            </div>
            <div class="col-sm-9">
              <!-- * name -->
              <b class="node-name" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                {{ node.name }}
                <i class="fas fa-caret-down"></i>
              </b>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'node-remove' node.id %}">
                  <i class="fas fa-sm fa-fw fa-trash text-muted"></i> Remove node
                </a>
              </div>

              <!-- * average load graph -->
              <div id="node{{ node.id }}-load-avg"
                   style="width: 100%; height: 30px; margin: 5px 0px;
                          border-left: 1px dashed #aaa;
                          border-bottom: 1px dashed #aaa"></div>

              <!-- * uptime relative time -->
              <div style="width: 100%; height: 10px; margin: 8px 0px;
                          background-color: #8DBFE0; border-radius: 4px"
                   title="{{ node.online_time }}% online ({{ node.online_str }}) - {{ node.offline_time }}% offline ({{ node.offline_str }})">
                <div style="height: 100%; width: {{ node.offline_time }}%;
                            background-color: #F78D3F; border-radius: 0px 4px 4px 0px;
                            margin-left: {{ node.online_time }}%"></div>
              </div>

              <!-- * number of services -->
              <span class="text-muted" style="font-size: .9em">
                {% with nservices=node.service_set.count %}
                <b>{{ nservices }}</b>
                Service{% if nservices == 0 or nservices > 1 %}s{% endif %}
                {% endwith %}
              </span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

    <!-- Event Count Stats -->
    <div class="col-sm-8">
      <div class="card mb-3" style="box-shadow: 0px 0px 3px #257FAF">
        <div class="card-body">
          <h4 style="color: #919699; display: inline">
            <i class="fas fa-fw fa-chart-line" style="color: #87BEDE"></i>
            <b>Total number of Events</b>
          </h4>
          <span class="float-right" style="font-size: 1.5em"><b id="event-count"></b></span>
          <div id="all-events" style="width: 100%; height: 200px; margin-top: 20px"></div>
          <div class="text-center" style="margin-top: 10px">
            <a href="?evt_filter=day"
               class="btn btn-sm {% if events.filter == 'day' %}
                      btn-primary {% else %}
                      btn-secondary {% endif %}"
               style="width: 80px">Day</a>
            <a href="?evt_filter=week"
               class="btn btn-sm {% if events.filter == 'week' %}
                      btn-primary {% else %}
                      btn-secondary {% endif %}"
               style="width: 80px">Week</a>
            <a href="?evt_filter=month"
               class="btn btn-sm {% if events.filter == 'month' %}
                      btn-primary {% else %}
                      btn-secondary {% endif %}"
               style="width: 80px">Month</a>
            <a href="?evt_filter=all"
               class="btn btn-sm {% if events.filter == 'all' %}
                      btn-primary {% else %}
                      btn-secondary {% endif %}"
               style="width: 80px">All</a>
          </div>
        </div>
      </div>

      <!-- Service Status -->
      <div class="row">
        {% for service in services %}
        <div class="col-md-6 col-lg-4">
          <div class="card service-min-card
                      {% if service.activation_mode == 'always' or service.get_status == 'on' %}
                      status-{{ service.get_status }}
                      {% else %}
                      status-manual
                      {% endif %}"
               title="{{ service.name }} - Status: {{ service.get_status }}, Activation: {{ service.activation_mode }}">
            <div class="service-name"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ service.name }}
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'service-remove' service.id %}">
                <i class="fas fa-sm fa-fw fa-trash text-muted"></i> Remove service
              </a>
            </div>
            <div class="service-node">{{ service.node.name }}</div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <!-- Active Sensors Information Table -->
  <div class="row" style="margin-top: 10px">
    <div class="col-sm-12" style="padding-left: 5px; padding-right: 5px">
      <div class="card" >
        <div class="card-body">
          <h4 style="color: #919699">
            <i class="fas fa-fw fa-sitemap" style="color: #87BEDE"></i>&nbsp;
            <b>Active Sensors</b>

            <span class="float-right">
                <div class="input-group input-group-sm mb-3">
                  <input type="text" class="form-control" placeholder="Filter by..."
                         id="active-sensors-search">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                         id="active-sensors-search-clear-btn">
                      <i class="fas fa-fw fa-broom"></i>
                    </button>
                  </div>
                </div>
            </span>

          </h4>
          <br>

          {% if active_sensors %}
          <table class="table table-hover table-sm" id="active-sensors">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Source</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col">Topic</th>
                <th scope="col">Iface</th>
                <th scope="col" class="text-center"># Events</th>
              </tr>
            </thead>
            <tbody>

              {% for sensor in active_sensors %}
              <tr>
                <th scope="row">{{ sensor.id }}</th>
                <td title="{% if not sensor.name %}(no name given){% endif %}{{ sensor.name }}" class="sensor-row">
                  <span class="sensor-name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if sensor.source == "unknown" %}
                  <i class="text-muted">&lt;unknown&gt;</i>
                  {% else %}
                  {{ sensor.source }}
                  {% endif %}
                  <i class="fas fa-caret-down"></i>
                  </span>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'sensor-remove' sensor.id %}">
                      <i class="fas fa-sm fa-fw fa-trash text-muted"></i> Remove sensor
                    </a>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fas fa-circle
                            {% if sensor.get_status == 'active' %} text-success
                            {% elif sensor.get_status == 'inactive' %} text-danger
                            {% else %} text-secondary {% endif %}"
                     title="{{ sensor.get_status }}"></i>
                </td>
                <td>{{ sensor.topic }}</td>
                <td>
                  {% if sensor.interface and sensor.interface.strip %}
                    {% if sensor.interface == "unknown" %}
                      <i class="text-muted">&lt;unknown&gt;</i>
                    {% else %}
                      {{ sensor.interface }}
                    {% endif %}
                  {% else %}
                  <i class="text-muted">&lt;unknown&gt;</i>
                  {% endif %}
                </td>
                <td class="text-center">{{ sensor.event_count }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          {% else %}
          <div class="text-center" style="font-size: 1.3em; color: #bbb">
            <i>No sensors found!</i>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  <!-- Active Sensors Information Table -->
  <div class="row" style="margin-top: 10px">
    <div class="col-sm-12" style="padding-left: 5px; padding-right: 5px">
      <div class="card" >
        <div class="card-body">
          <h4 style="color: #919699">
            <i class="fas fa-fw fa-sitemap" style="color: #87BEDE"></i>&nbsp;
            <b>Inactive or Unknown Sensors</b>

            <span class="float-right">
                <div class="input-group input-group-sm mb-3">
                  <input type="text" class="form-control" placeholder="Filter by..."
                         id="other-sensors-search">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                         id="other-sensors-search-clear-btn">
                      <i class="fas fa-fw fa-broom"></i>
                    </button>
                  </div>
                </div>
            </span>

          </h4>
          <br>

          {% if other_sensors %}
          <table class="table table-hover table-sm" id="other-sensors">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Source</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col">Topic</th>
                <th scope="col">Iface</th>
                <th scope="col" class="text-center"># Events</th>
              </tr>
            </thead>
            <tbody>

              {% for sensor in other_sensors %}
              <tr>
                <th scope="row">{{ sensor.id }}</th>
                <td title="{% if not sensor.name %}(no name given){% endif %}{{ sensor.name }}" class="sensor-row">
                  <span class="sensor-name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if sensor.source == "unknown" %}
                  <i class="text-muted">&lt;unknown&gt;</i>
                  {% else %}
                  {{ sensor.source }}
                  {% endif %}
                  <i class="fas fa-caret-down"></i>
                  </span>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'sensor-remove' sensor.id %}">
                      <i class="fas fa-sm fa-fw fa-trash text-muted"></i> Remove sensor
                    </a>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fas fa-circle
                            {% if sensor.get_status == 'active' %} text-success
                            {% elif sensor.get_status == 'inactive' %} text-danger
                            {% else %} text-secondary {% endif %}"
                     title="{{ sensor.get_status }}"></i>
                </td>
                <td>{{ sensor.topic }}</td>
                <td>
                  {% if sensor.interface and sensor.interface.strip %}
                    {% if sensor.interface == "unknown" %}
                      <i class="text-muted">&lt;unknown&gt;</i>
                    {% else %}
                      {{ sensor.interface }}
                    {% endif %}
                  {% else %}
                  <i class="text-muted">&lt;unknown&gt;</i>
                  {% endif %}
                </td>
                <td class="text-center">{{ sensor.event_count }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          {% else %}
          <div class="text-center" style="font-size: 1.3em; color: #bbb">
            <i>No sensors found!</i>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block javascript %}
<script>
  var _ = console.log.bind(console);

  function create_chart(elemid, data, name) {
      Highcharts.chart(elemid, {
          chart: {type: 'area', margin: [0, 0, 0, 0]},
          title: null,
          xAxis: {visible: false},
          yAxis: {visible: false},
          legend: {enabled: false},
          plotOptions: {
              series: {
                  animation: false,
                  lineWidth: 1,
                  shadow: false,
                  states: {hover: {lineWidth: 1}},
                  marker: {
                      radius: 1,
                      states: {hover: {radius: 2}}
                  },
                  fillOpacity: 0.25
              },
          },
          series: [{name: name, data: data}]
      });
  };

 function create_empty_chart(elemid) {
     Highcharts.chart(elemid, {
         chart: {type: 'line', margin: [0, 0, 0, 0]},
         title: null,
         xAxis: {visible: false},
         yAxis: {visible: false},
         legend: {enabled: false},
         colors: ["#DF3248"],
         tooltip: {enabled: false},
         plotOptions: {
             series: {
                 marker: {enabled: false},
                 lineWidth: 2,
                 shadow: false,
                 states: {hover: {enabled: false}},
             },
         },
         series: [{data: [1, 1]}]
     });
 };

 $(document).ready(function () {
    Highcharts.setOptions({
        chart: {
            backgroundColor: "#00000000",
            style: {overflow: 'visible'},
            borderWidth: 0,
            skipClone: true,
        },
        credits: {enabled: false},
        plotOptions: {series: {animation: false}},
    });

    {% for node in nodes %}
      {% if node.is_online %}
      create_chart("node{{ node.id }}-load-avg", [{{ node.load_avg }}], "Load (%)");
      {% else %}
      create_empty_chart("node{{ node.id }}-load-avg");
      {% endif %}
    {% endfor %}

    var data = [{{ events.data }}];
    var total = 0;
    for (var i in data) {
        total += data[i];
    }
    $('#event-count').text(Number(total).toLocaleString("en-US"));

    Highcharts.chart('all-events', {
        chart: {type: 'line', borderWidth: 0},
        title: null,
        yAxis: {visible: true, title: {text: "Event Count"}},
        xAxis: {type: 'datetime'},
        legend: {enabled: false},
        plotOptions: {
            series: {marker: {radius: 2}},
        },
        series: [{
            name: '# of events',
            {% with s=events.start %}
            pointStart: Date.UTC({{s.year}}, {{s.month}}-1, {{s.day}},
                                 {{s.hour}}, {{s.minute}}, {{s.second}}),
            {% endwith %}
            pointInterval: {{events.interval}} * 1000,  // given in ms.
            data: data,
        }]
    });

    var dt_options = {
      "order": [],
      "pagingType": "numbers",
      "pageLength": 25,
      "columnDefs": [
        { "orderable": false, "targets": [0, 2] },
        { "searchable": false, "targets": [0, 2] },
      ],
      "dom": "rt<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
    };

    var active_dt = $('#active-sensors').DataTable(dt_options);
    var other_dt = $('#other-sensors').DataTable(dt_options);
    $(".paginate_button").addClass("btn-sm");

    $('#active-sensors-search').on('keyup', function() {
      active_dt.search(this.value).draw();
    });

    $('#active-sensors-search-clear-btn').on("click", function() {
      $('#active-sensors-search').val("");
      active_dt.search("").draw();
    });

    $('#other-sensors-search').on('keyup', function() {
      other_dt.search(this.value).draw();
    });

    $('#other-sensors-search-clear-btn').on("click", function() {
      $('#other-sensors-search').val("");
      other_dt.search("").draw();
    });

  });
</script>
{% endblock %}

{% comment %}
Local Variables:
  coding: utf-8
  truncate-lines: true
End:
{% endcomment %}
