/* -*- mode: css; coding: utf-8 -*- */

html, body {
    min-height:100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

body {
    margin: 0px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top, #edecec, #bebbb9);
    background-image: linear-gradient(top, #edecec, #cecbc9);
}

input {
    width: 100%;
    height: 25px;
    padding-left: 10px;
    border: 0px;
    border-bottom: 1px solid #556F89;
}

.button {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 150px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 150px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.button:after {
    color:#e9e6e4;
    display: block;
    font-size: 60px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
    content: "\2757";
    left:63px;
    top:36px;
}

.button:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.button:hover:after {
    color:#83d244;
    font-weight: bold;
    text-shadow:0px 0px 6px #83d244;
}

.button:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after {
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    border-top: 1px solid #CCC;
}
