{# -*- coding: utf-8 -*- #}

{% load staticfiles %}
<html lang="en">

<head>
  <title>{% block title %} Citisim - Dashboard {% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% block body-def %}

<body>
  {% endblock %}

  {% block nav %}
  <nav class="navbar navbar-light" style="background-color: #fff">
    <span class="navbar-brand mb-0 h1">
      <img src="{% static 'images/logo_squared.png' %}" style="width: 40px; margin-right: 5px; float: left">
      <a href="/"><b>Citisim Dashboard</b></a><br>
      <span class="text-muted" style="font-size: 12px; line-height: 11px; margin-left: 2px">
        Services & Sensors</span>
    </span>
  </nav>
  {% endblock %}

  {% for message in messages %}
  <div class="alert fade in alert-{{ message.tags }} alert-dismissible pop-message">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}

  <div id="page-content">
    {% block content %}
    {% endblock %}
  </div>

  <br><br>
  {% block footer %}
  <footer class="footer">
    <i class="far fa-fw fa-address-card" style="margin-right: 4px"></i>
    Arco Research &copy; 2018-2019 &nbsp;|&nbsp;
    {% include "./version.html" %}&nbsp;|&nbsp;
    Last sync: <span id="last-update"></span>
  </footer>
  {% endblock %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/highcharts.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script>
    $(function () {
      $('#last-update').text(new Date().toLocaleString("en-US"));
    });
  </script>
  {% block javascript %}
  {% endblock %}

</body>

</html>

{% comment %}
Local Variables:
coding: utf-8
truncate-lines: true
End:
{% endcomment %}