/* -*- mode: web; coding: utf-8 -*- */

nav {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

#page-content {
    background-color: #F2F2F2;
    min-height: 80vh;
    margin-bottom: 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 8px -2px #555;
    z-index: -1;
    padding: 1.5rem 1rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: white;
    border-top: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 12px;
    color: #2C3E50;
    z-index: 100;
}

.card {
    border-radius: .5em;
    box-shadow: 1px 1px 5px -3px;
}

.col-sm-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-min-card {
    padding: 6px 10px;
    margin-bottom: 10px;
}

.service-min-card > .service-node {
    line-height: 11px;
    color: gray;
    font-size: .8em;
}

.service-min-card > .service-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.service-min-card.status-on {
    border-right: 30px solid #27A64D;
}

.service-min-card.status-off {
    border-right: 30px solid #DF3248;
}

.service-min-card.status-manual {
    border-right: 30px solid #007DFB;
}

.service-min-card.status-unknown {
    border-right: 30px solid #6E6E6E;
}

.service-name,
.node-name,
.sensor-name {
    cursor: pointer;
}

.service-name .fa-caret-down,
.node-name .fa-caret-down,
.sensor-name .fa-caret-down {
    visibility: hidden;
}

.service-name:hover .fa-caret-down,
.node-name:hover .fa-caret-down,
.sensor-name:hover .fa-caret-down {
    color: black;
    visibility: visible;
}

.service-min-card .dropdown-item,
.node-card .dropdown-item,
.sensor-row .dropdown-item {
    padding-left: 0.6rem;
}

.service-min-card .dropdown-menu,
.node-card .dropdown-menu,
.sensor-row .dropdown-menu {
    border: 1px solid #27A64D;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.offline-node {
    border-left: 3px solid #D94D3A;
    border-right: 3px solid #D94D3A
}

.btn-secondary {
    color: #000;
    background-color: #ddd;
    border-color: #bbb;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

.text-dimm {
    color: #bbb;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after,
table.dataTable thead th.sorting:before,
table.dataTable thead th.sorting_asc:before,
table.dataTable thead th.sorting_desc:before {
    position: absolute;
    top: 12px;
    right: 5px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 5px !important;
    content: "\f0de";
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    content: "\f0dd";
}

.pagination {
    margin-top: 10px !important;
}

.paginate_button.btn-sm {
    padding: 0px;
}