.result_list {
    width: 100%;
}

.field-metadata {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#header {
    background: #2E4150;
    border-bottom: 3px solid #A31A23;
}

div.breadcrumbs {
    background: #2098D8;
    padding-left: 120px;
}

h1#site-name {
    font-weight: bold;
    padding-left: 80px;
}

#branding img {
    padding: 2px;
    background: #eee;
    border-radius: 100%;
    width: 64px;
    position: absolute;
    top: 15px;
}
