
table {
    font-size: 0.9em;
}

.w-min {
    width: 1%;
    white-space: nowrap;
}

tr.debug {
    color: #777;
}

tr.warning {
    color: rgb(177, 87, 2);
    font-weight: bold;
}

tr.critical {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #940000;
}

tr.error {
    color:  #940000;
    font-weight: bold;
    background-color: #ffe6e6;
}