#event-type {
  margin: 20px auto;
  width: auto;
}

#send-event {
  margin-top: 20px;
  margin-bottom: 50px;
}

#bottom {
  width: 100%;
  height: 100vh;
  border-top: 3px solid #422E20;
  background-color: #5E4534;
}

body {
  overflow: hidden;
}
