/* -*- mode: web; coding: utf-8 -*- */

h2 > a {
    color: inherit;
}

h2 > a:hover {
    text-decoration: none;
}

.card-body.table-holder {
    padding: 20px 0px 0px 0px;
}

.dimm {
    opacity: 0.5;
}

.dimm:hover {
    opacity: 1;
}

#error-dlg {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.card-header.topics {
    border-bottom: 3px solid #007DFB !important;
}

.card-header.info {
    border-bottom: 3px solid #27A64D !important;
}

tr.active {
    background-color: #FFFED5 !important;
}
