html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(/static/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: "Open Sans", sans-serif;
    background-color: #fff;

    height: 100%;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.wm-space {
    user-select: none;
}

.toolbar {
    position: absolute;
    top: 5px;
    left: 100vw;
    margin-left: -35px;
}

section.wm-content {
    margin-bottom: 16px;
}

iframe.win {
    visibility: hidden;
    border: 0px;
    width: 100%;
    height: 100%;
    margin-bottom: -50px;
}

.desktop-switcher {
    position: absolute;
    top: 25px;
    left: 35px;
}