{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid">

  <form method="post">
    <div class="card mx-auto" style="width: 300px">
      <div class="card-header">
	<h4>Login</h4>
      </div>

      <div class="card-body">
	{% csrf_token %}
	<table style="margin-bottom: 10px">
	  <tr>
	    <td style="padding-right: 10px">{{ form.username.label }}:</td>
	    <td><input class="form-control form-control-sm"
		       name="{{ form.username.html_name }}"></td>
	  </tr><tr>
	    <td>{{ form.password.label }}:</td>
	    <td><input class="form-control form-control-sm"
		       type="password" name="{{ form.password.html_name }}"></td>
	  </tr>
	</table>
	{% for error in form.non_field_errors %}
	<div class="text-danger" style="font-size: 0.7em">{{ error }}</div>
	{% endfor %}
      </div>

      <div class="card-footer text-right">
	<button class="btn btn-primary btn-sm" style="width: 100px"
		type="submit">Login</button>
      </div>
    </div>
  </form>

</div>
{% endblock %}
