<div ng-controller="configCtrl">

  <div class="card">
    <div class="card-header">
      <h4>Settings</h4>
    </div>
    <div class="card-body">

      <div class="form-group row">
	<label for="IceDefaultLocator" class="col-sm-3 col-form-label text-right">Ice default locator:</label>
	<div class="col-sm-9">
	  <input type="text" class="form-control" id="IceDefaultLocator"
		 placeholder="Locator proxy"
		 ng-model="default_locator">
	</div>
      </div>

      <div class="form-group row">
	<label for="IceStormProxy" class="col-sm-3 col-form-label text-right">IceStorm Proxy:</label>
	<div class="col-sm-9">
	  <input type="text" class="form-control" id="IceStormProxy"
		 placeholder="IceStorm TopicManager proxy"
		 ng-model="icestorm_proxy">
	</div>
      </div>

      <div class="form-group row">
	<label for="IceStormAdmin" class="col-sm-3 col-form-label text-right">IceStorm Admin Proxy:</label>
	<div class="col-sm-9">
	  <input type="text" class="form-control" id="IceStormAdmin"
		 placeholder="IceStorm/admin proxy"
		 ng-model="icestorm_admin">
	</div>
      </div>

      <div class="float-right">
	<button class="btn btn-danger" ng-click="revert_settings()">Discard</button>
	<button class="btn btn-success" ng-click="save_settings()">Save changes</button>
      </div>
    </div>
    <div class="card-footer text-muted text-right">
      <small>Settings stored as browser cookies</small>
    </div>
  </div>

</div>

<!--
Local Variables:
  coding: utf-8
  truncate-lines: true
End:
-->
