<div ng-controller="topicListCtrl" ng-cloak>

  <div class="card">
    <div class="card-header topics">
      <h4 style="display: inline">List of topics</h4>
      <span class="text-muted float-right">{{ icestorm_proxy }}
	<button class="btn btn-primary" type="button" style="margin-left: 20px"
		ng-click="do_reload()" title="Reload topic list from server">
	  <i class="fa fa-sync fa-xs"></i>
	</button>
	<button class="btn btn-success" type="button" title="Create a new topic"
		data-toggle="modal" data-target="#createTopicModal">
	  <i class="fa fa-plus fa-xs"></i>
	</button>
	<button class="btn btn-warning" type="button"
		has-confirm-dialog="true" on-confirm="do_clean_topics()"
		title="Remove all topics with no subscribers?">
	  <i class="fa fa-eraser fa-xs"></i>
	</button>
      </span>
    </div>

    <div class="card-body table-holder">
      <p style="padding: 0px 20px">The following is the list of
	current topics in the configured <code>IceStorm</code> instance. Use the
	upper buttons to <b>refresh</b> <i class="fa fa-sync fa-xs text-primary"></i> the
	topic list, <b>add a new</b> <i class="fa fa-plus fa-xs text-success"></i>
	topic or even <b>remove</b> <i class="fa fa-eraser fa-xs text-warning"></i> all
	topics with no current subscribers. Click over any topic name to get more
	information.
      </p>

      <table class="table table-hover" ng-show="topics.length">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Topic Name</th>
	    <th class="text-center">Links</th>
	    <th class="text-center"># Events</th>
	    <th class="text-center"># Subs.</th>
	    <th class="text-right">Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="topic in topics | limitTo : pager.page_size : (pager.current-1) * pager.page_size"
	      ng-click="do_select_topic(topic)"
	      ng-class="{'active': selected == topic}">
	    <td>{{ topic.number }}</td>
	    <td>{{ topic.name }}</td>
	    <td class="text-center">{{ topic.links.length ? topic.links : '-' }}</td>
	    <td class="text-center">{{ topic.mx.published.toNumber() }}</td>
	    <td class="text-center" ng-class="{'text-danger': !topic.subscribers.length}">
	      {{ topic.subscribers.length }}
	    </td>
	    <td class="text-right">
	      <button class="btn btn-outline-danger btn-sm dimm" type="button"
		      has-confirm-dialog="true" on-confirm="do_remove_topic(topic)">
		<i class="fa fa-trash fa-xs"></i>
	      </button>
	    </td>
	  </tr>
	</tbody>
      </table>

      <div ng-show="!topics.length">
	<hr>
	<div class="text-center" style="padding: 30px">
	  <h5 class="text-muted">There are no topics on this IceStorm.</h5>
	</div>
      </div>

    </div>

    <div class="card-footer text-right">
      <span class="step-links" ng-show="topics.length">
        <span ng-show="pager.current > 1">
          &laquo;&nbsp; <a href="" ng-click="pager.prev()">anterior</a> &nbsp; | &nbsp;
        </span>
        {{ pager.current }} de {{ pager.pages }}
        <span ng-show="pager.current < pager.pages">
          &nbsp; | &nbsp; <a href="" ng-click="pager.next()">siguiente</a> &nbsp;&raquo;
        </span>
      </span>
    </div>
  </div>

  <!-- Information about selected topic -->
  <br>
  <div class="card" ng-show="selected">
    <div class="card-header info">
      <h4 style="display: inline">Details of '{{ selected.name }}'</h4>
      <span class="float-right" ng-hide="no_metrics">
	<button class="btn btn-success" type="button"
		data-toggle="modal" data-target="#subscribeProxyModal">
	  <i class="fa fa-plug fa-xs"></i>
	</button>
	<button class="btn btn-danger" type="button" title="Remove all subscribers?"
		has-confirm-dialog="true" on-confirm="do_remove_subscribers(selected)">
	  <i class="fa fa-eraser fa-xs"></i>
	</button>
      </span>
    </div>

    <div class="card-body" ng-show="no_metrics">
      <h5 class="card-title">Here you should see very useful information.</h5>
      <p class="card-text">Please, enable the <code>Metrics</code> facet
      on your IceStorm instance. Also, you will need to set the
	'<b>admin</b>' proxy on settings.</code></p>
    </div>

    <div class="card-body" ng-hide="no_metrics">
      <hr>
      <div class="row">
	<div class="col-sm-2 text-right"><b>Topic's Name:</b></div>
	<div class="col-sm-2">{{ selected.name }}</div>
	<div class="col-sm-2 text-right"><b>Topic's Proxy:</b></div>
	<div class="col-sm-6">
	  <i class="far fa-copy text-muted" onClick="copy_to_clipboard('selectedProxy')"
	  title="Click to copy the proxy"></i>
	  <span id="selectedProxy">{{ selected.proxy }}</span></div>
      </div>
      <div class="row">
	<div class="col-sm-2 text-right"><b>Links:</b></div>
	<div class="col-sm-2">{{ topic.links.length ? topic.links : '&lt;no links&gt;' }}</div>
	<div class="col-sm-2 text-right"><b>Publisher:</b></div>
	<div class="col-sm-6">
	  <i class="far fa-copy text-muted" onClick="copy_to_clipboard('selectedPublisher')"
	     title="Click to copy the proxy"></i>
	  <span id="selectedPublisher">{{ selected.publisher }}</span></div>
      </div>
      <br>

      <h5>List of subscribers:</h5>
      <div ng-show="!selected.subscribers.length" class="text-center">
	<br>
	<h5 class="text-muted">There are no subscribers on this topic.</h5>
      </div>

      <table class="table table-hover table-sm" ng-hide="!selected.subscribers.length">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Proxy</th>
	    <th class="text-center">State</th>
	    <th class="text-center" style="min-width: 80px"># Events</th>
	    <th class="text-right">Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="subscriber in selected.subscribers">
	    <td>{{ $index + 1 }}</td>
	    <td id="subscriberProxy-{{ $index + 1 }}">{{ subscriber.proxy }}</td>
	    <td class="text-center">
	      <i class="fa" ng-class="{'fa-times text-danger': subscriber.state == 'error',
				       'fa-check text-success': subscriber.state == 'online',
				       'fa-question': subscriber.state == 'offline'}"
		 title="{{ subscriber.state }}"></i></td>
	    <td class="text-center">
	      {{ subscriber.mx.delivered.toNumber() }}
	    </td>
	    <td class="text-right">
	      <button class="btn btn-outline-secondary btn-sm dimm" type="button"
		      id-to-copy="subscriberProxy-{{ $index + 1 }}"
		      title="Copy proxy" onClick="copy_to_clipboard($(this).attr('id-to-copy'))">
		<i class="far fa-copy fa-xs"></i>
	      </button>
	      <button class="btn btn-outline-danger btn-sm dimm" type="button"
		      title="Unsubscribe proxy?" has-confirm-dialog="true"
		      on-confirm="do_unsubscribe_from_topic(subscriber)">
		<i class="fa fa-times fa-xs"></i>
	      </button>
	    </td>
	  </tr>
	</tbody>
      </table>

    </div>
  </div>

  <!-- Modal to show that config is missing -->
  <div class="modal fade in" tabindex="-1" role="dialog" id="showConfigModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
	  <h5 class="modal-title">IceStorm GUI not configured!</h5>
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
	</div>
	<div class="modal-body">
          <p>You did not set a proper <b>configuration</b>, so the
          application will not work correctly. Do you want to update
            your <code>settings</code> now?</p>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, thanks!</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
		  ng-click="go_to_settings()">Yes, please!</button>
	</div>
      </div>
    </div>
  </div>

  <!-- Modal to create a new topic -->
  <div class="modal fade in" tabindex="-1" role="dialog" id="createTopicModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
	  <h5 class="modal-title">Create new Topic</h5>
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
	</div>
	<div class="modal-body">
          <p>Please, provide the <b>name</b> of your Topic:<br><br>
	    <input type="text" class="form-control" id="newTopicName"
		   placeholder="TopicName" ng-model="new_topic_name">
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
		  ng-click="go_create_topic()">Create!</button>
	</div>
      </div>
    </div>
  </div>
  <script>
   $('#createTopicModal').on('shown.bs.modal', function () {
       $('#newTopicName').trigger('focus')
   });
  </script>

  <!-- Modal to subscribe a new proxy to the selected topic -->
  <div class="modal fade in" tabindex="-1" role="dialog" id="subscribeProxyModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
	  <h5 class="modal-title">Subscribe proxy to Topic</h5>
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
	</div>
	<div class="modal-body">
          <p>Please, provide the <b>proxy</b> that will be subscribed to {{ selected.name }}:<br><br>
	    <input type="text" class="form-control" id="proxyToSubscribe"
		   placeholder="Stringfied Proxy..." ng-model="proxy_to_subscribe">
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
		  ng-click="do_subscribe_proxy()">Subscribe!</button>
	</div>
      </div>
    </div>
  </div>
  <script>
   $('#subscribeProxyModal').on('shown.bs.modal', function () {
       $('#proxyToSubscribe').trigger('focus')
   });
  </script>

  <!-- Alert for error reporting -->
  <div class="alert alert-danger alert-dismissible fade show" style="display: none" role="alert" id="error-dlg">
    <strong>Oops!</strong> Something wrong happen. Here is more information about it:
    <button type="button" class="close" onClick="$('#error-dlg').hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <hr>
    <p>{{ error }}</p>
  </div>

  <br><br><br><br>

</div>

<!--
Local Variables:
  coding: utf-8
  truncate-lines: true
End:
-->
