/* -*- mode: css; coding: utf-8 -*- */

html, body {
    min-height:100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

body {
    margin: 0px;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#gauge {
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

#caption {
    color: #444;
    margin-top: -25px;
}
