body {
    margin: 0px;
    overflow: hidden;
}


#speaker {
    width: 96px;
    position: absolute;
    top: 13px;
    left: 59px;
}

.separator {
    position: absolute;
    top: 0px;
    left: 202px;
    width: 130px;
    height: 165px;
}

.separator.idle {
    border-left: 3px solid #284466;
    background-color: #91C0DE;
}

.separator.playing {
    border-left: 3px solid #993300;
    background-color: #FF6600;
}

#message-id {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-weight: bold;
    top: 130px;
    left: 8px;
    width: 180px;
    height: 20px;
    text-align: center;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.btn {
    border: 0px;
    background-color: transparent;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#listen-btn {
    position: absolute;
    top: 50px;
    left: 235px;
}

.dimm {
    color: gray;
    font-style: italic;
}