// You can add global styles to this file, and also import other style files
@import '~ng-pick-datetime/assets/style/picker.min.css';

body {
  margin-bottom: 10px;
  margin-top: 15px;
}

.input-group {
  margin-bottom: 15px;
}

/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 50px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .green { background-color: #7FF95B; margin-top: 5px;}
.legend .yellow { background-color: #FBFB22; margin-top: 5px;}
.legend .red { background-color: #FF0B01; margin-top: 5px;}