<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-12">
      <h4 class="card-header">Citisim Dashboard</h4>
    </div>
  </div>
  <div class="row">
    <!--Filters-->
    <div class="col-md-7">
      <div class="row card-body">
        <div class="col-md-4">
          <p>Start date:</p>
          <p><!--<input class="form-control mr-2" [(ngModel)]="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" (ngModelChange)="drawAllCharts()">-->
          <input class="form-control mr-2" [(ngModel)]="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" >
          <owl-date-time #dt1></owl-date-time></p>
        </div>
        <div class="col-md-5">
          <p> Sector:</p>
         <p> 
          <select class="custom-select" [(ngModel)]="sectorName" (ngModelChange)="getSensordevicesbytype(sectorName,mode)">
            <option *ngFor="let c of sectors" [ngValue]="c._id">{{c.name}}</option>
          </select></p>
        </div>
        <div class="col-md-3">
         <p>Set last week:</p>
         <p>
          <button class="btn btn-sm btn-primary mr-2" (click)="lastWeek()">
            Last Week
          </button>
        </p>
        </div>
      </div>

      <div class="row card-body">
        <div class="col-md-4">
          <p>Ending date:</p>
          <p><!--<input class="form-control mr-2" [(ngModel)]="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Time" (ngModelChange)="drawAllCharts()">-->
            <input class="form-control mr-2" [(ngModel)]="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Time">
          <owl-date-time #dt2></owl-date-time></p>
        </div>


        <div class="col-md-5">
          <p>Source:</p>
          <p> 
          <select class="custom-select" [(ngModel)]="sensordevice" [disabled]="butDisabled" (ngModelChange)="drawAllCharts()">
            <option *ngFor="let c of sensordevices" [ngValue]="c">{{c.name}}</option>
          </select> </p>
        </div>

        <div class="col-md-3">
          <p>History:</p>
          <p> 
          <button class="btn btn-sm btn-primary mr-2" (click)="setHistory()">
            Show History 
          </button></p>
        </div>
        <!--<div class="col-md-4">
          <p>Change mode:</p>
          <p> 
            <button class="btn btn-sm btn-primary mr-2" (click)="changeMode()">
            Change to {{literalMode}}
          </button>
          </p>
        </div>-->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">          
          <p> 
          <button class="btn btn-sm btn-primary mr-2" (click)="drawAllCharts()">
            Recalculate
          </button></p>
    </div>
  </div>

  <!--HeatMap-->
  <div class="row">
    <!--Map-->
    <div class="col-md-6">
      <div style="text-align: center;"><span>SECTOR LOCATION</span></div>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    <div class="col-md-6">  
      <div style="text-align: center;"><span>PEOPLE DISTRIBUTION</span></div>
      <div [style.background]="'url(assets/plane.png)'" [style.background-repeat]="'no-repeat'" [style.background-size]="'contain'"><ngx-heatmap [height]="250" [width]="520" [heatPoints]="heatData" [configurations]="heatmapConfig" ></ngx-heatmap></div>
      <br>
      <ul class="legend">
        <li><span class="green"></span>   1 - 5 </li>
        <li><span class="yellow"></span>   5 - 15</li>
        <li><span class="red"></span>   +15</li>
      </ul>
    </div>
  </div>



  <!--Voltage Values-->
  <div class="row card-body" [hidden]="mode != 'Voltage'">
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header">Voltage AVG</div>
        <div class="card-body">
          <h5 class="card-title">{{avgVoltage}}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header">Number of voltage drops</div>
        <div class="card-body">
          <h5 class="card-title">0</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header">Half duration of voltage drops</div>
        <div class="card-body">
          <h5 class="card-title">0</h5>
        </div>
      </div>
    </div>

  </div>

  <!--Energy Values-->
  <div class="row card-body" [hidden]="mode != 'Energy'">
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Cost</div>
        <div class="card-body">
          <h5 class="card-title">
          <input class="form-control mr-2" type="number" name="price"
                     [(ngModel)]="energyPrice" placeholder="Energy Price (kW/H)">
          </h5>
          {{price}} €
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Expected Cost (this Month)</div>
        <div class="card-body">
          <h5 class="card-title">
          <input class="form-control mr-2" type="number" name="priceExpected"
                     [(ngModel)]="energyPriceExpected" placeholder="Energy Price Expected(kW/H)">
          </h5>
          {{priceExpected}} €
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Monthly Cost / Expected </div>
        <div class="card-body">
          <!--<h5 class="card-title">
            <input class="form-control mr-2" type="number" name="priceExpected" [(ngModel)]="energyPriceExpected" placeholder="Energy Price (kW/H)" (ngModelChange)="calculatePrice()">
          </h5>-->
          Real: {{priceLast}} €
          <hr>
          Expected: {{priceLastExpected}} €
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Losses / Gains</div>
        <div class="card-body">
  
          {{priceLast/priceLastExpected | number:'1.2-2' }} %
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Monthly Cost / Endesa </div>
        <div class="card-body">
          <h5 class="card-title">
            <input class="form-control mr-2" type="number" name="price" [(ngModel)]="energyPrice1" placeholder="Energy Price (kW/H)">
          </h5>
          <hr>
          This month: {{priceCurrent1}} €
          <hr>
          Last month: {{priceLast1}} €
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Monthly Cost / Iberdrola </div>
        <div class="card-body">
          <h5 class="card-title">
            <input class="form-control mr-2" type="number" name="price" [(ngModel)]="energyPrice2" placeholder="Energy Price (kW/H)">
          </h5>
          <hr>
          This month: {{priceCurrent2}} €
          <hr>
          Last month: {{priceLast2}} €
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Monthly Cost / EDP </div>
        <div class="card-body">
          <h5 class="card-title">
            <input class="form-control mr-2" type="number" name="price" [(ngModel)]="energyPrice3" placeholder="Energy Price (kW/H)">
          </h5>
          <hr>
          This month: {{priceCurrent3}} €
          <hr>
          Last month: {{priceLast3}} €
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-header">Monthly Cost / Naturgy </div>
        <div class="card-body">
          <h5 class="card-title">
            <input class="form-control mr-2" type="number" name="price" [(ngModel)]="energyPrice4" placeholder="Energy Price (kW/H)">
          </h5>
          <hr>
          This month: {{priceCurrent4}} €
          <hr>
          Last month: {{priceLast4}} €
        </div>
      </div>
    </div>
  </div>
  <div class="row card-body" [hidden]="mode != 'Energy'">
    <p> 
          <button class="btn btn-sm btn-primary mr-2" (click)="calculatePrice()">
            Recalculate
          </button></p>
  </div>
  <!-- Charts -->
  <div class="row">
    <div class="col-md-6" [hidden]="mode != 'All' && mode != 'ActivePower'">
        <div [chart]="activePowerChart"></div>
        <div [hidden]="mode != 'All'">
          <button class="btn btn-sm btn-primary mr-2" (click)="changeMode('ActivePower')">
            Show Active Power
          </button>
        </div>
        <div [hidden]="mode != 'ActivePower'">
          <button class="btn btn-sm btn-primary mr-2" (click)="changeMode('All')">
            Show All
          </button>
        </div>
    </div>
    <div class="col-md-6" [hidden]="mode != 'All' && mode != 'Energy'">
        <div [chart]="energyChart"></div>
        <div [hidden]="mode != 'All'">
          <button class="btn btn-sm btn-primary mr-2" (click)="changeMode('Energy')">
            Show Energy
          </button>
        </div>
        <div [hidden]="mode != 'Energy'">
          <button class="btn btn-sm btn-primary mr-2" (click)="changeMode('All')">
            Show All
          </button>
        </div>
    </div>
    <div class="col-md-6" [hidden]="mode != 'Energy'">
        <div [chart]="energyExpectedChart"></div>
    </div>
    <div class="col-md-6" [hidden]="mode != 'All' && mode != 'PowerFactor'">
        <div [chart]="powerFactorChart"></div>
        <div [hidden]="mode != 'All'">
          <button class="btn btn-sm btn-primary mr-2" (click)="changeMode('PowerFactor')">
            Show Power Factor
          </button>
        </div>
        <div [hidden]="mode != 'PowerFactor'">
          <button class="btn btn-sm btn-primary mr-2" (click)="changeMode('All')">
            Show All
          </button>
        </div>
    </div>
    <div class="col-md-6" [hidden]="mode != 'All' && mode != 'Voltage'">
        <div [chart]="chart" ></div>
        <div [hidden]="mode != 'All'">
          <button class="btn btn-sm btn-primary mr-2" (click)="changeMode('Voltage')">
            Show Voltage 
          </button>
        </div>
        <div [hidden]="mode != 'Voltage'">
          <button class="btn btn-sm btn-primary mr-2" (click)="changeMode('All')">
            Show All
          </button>
        </div>
    </div>
   <div class="col-md-6" [hidden]="mode != 'PowerFactor'">
        <rg-gauge-chart
          [canvasWidth]="canvasWidth"
          [needleValue]="needleValue"
          [centralLabel]="centralLabel"
          [options]="options"
          [name]="name"
          [bottomLabel]="bottomLabel">    
        </rg-gauge-chart>
        
    </div>
  </div>
</div>