body {
    background-color: rgb(28, 85, 129);
    background-image:
      linear-gradient(rgba(255,255,255,.1) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255,255,255,.1) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 8px !important;
}

.icon-bar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    overflow: hidden;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 5px 5px;
    transition: all 0.3s ease;
    color: rgb(51, 51, 51);
    font-size: 25px;
}

.icon-bar a:hover {
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
}

.icon-bar .active {
    background-color: rgb(187, 69, 0);
    color: rgb(255, 255, 255) !important;
}

.map-tab-holder {
    margin-left: 60px;
}

.nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs .nav-link {
    background-color: rgb(233, 233, 233);
    font-size: 0.9em;
    color: inherit;
    margin-top: 5px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0px;
}

.map {
    margin-left: 60px;
    overflow: hidden;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 5px;
    background-color: white;
}

.map svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
