<!DOCTYPE html>
<html lang="en" ng-app="NodeApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Citisim Manager Tool</title>

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-controller="NodeCtrl">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/citisim-logo.png') }}"
	   width="36">
      Node List
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" ng-cloak>

        <li class="nav-item" data-toggle="tooltip" data-placement="right"
	    ng-repeat="node in nodes">
          <a class="nav-link" href="" ng-click="set_selected(node)">
            <span class="nav-link-text">[[ node.name ]]</span>
          </a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">
	<li class="nav-item">
	  <a class="nav-link" href="#" title="Add new node..."
	     data-toggle="modal" data-target="#add-node-dialog">
	    <i class="fa fa-fw fa-plus"></i>
	    <span class="d-lg-none">Add node</span>
	  </a>
	</li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" href="#" data-toggle="dropdown"
	     aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-ellipsis-v"></i>
            <span class="d-lg-none">Settings</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header"><i class="fa fa-fw fa-bolt"></i> Actions:</h6>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#" ng-click="on_system_scan()">
              <strong>Perform system scan</strong>
              <div class="dropdown-message small">
		Search on Property Server for IoT comaptible nodes</div>
            </a>
            <div class="dropdown-divider"></div>

	    <h6 class="dropdown-header"><i class="fa fa-fw fa-gear"></i> Settings:</h6>
            <div class="dropdown-divider"></div>
	    <a class="dropdown-item disabled" href="#">
              <strong>Used PropertyServer</strong>
              <div class="dropdown-message small" title="[[ ps_proxy ]]">
		Set the Property Server proxy (currently: [[ ps_proxy ]]</div>
            </a>

          </div>
        </li>

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" disabled type="text" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" disabled type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>

      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">

      <div ng-hide="selected" class="text-center"><br><br><br>
	<span class="text-muted">
	  <i><h3>No node selected</h3>
	    Please, select one, add it or search for more.
	  </i>
	</span>
      </div>

      <div ng-show="selected" ng-cloak>

	<div class="card">
	  <h5 class="card-header" style="border-bottom: 3px solid #007BFF">
	    Node Information
	    <button class="btn btn-sm btn-outline-danger pull-right"
		    ng-click="on_remove_node()">
	      <i class="fa fa-trash"></i>
	    </button>
	  </h5>
	  <div class="card-body">
	    <div class="row">
	      <div class="col-sm-3 text-right"><b>Identifier:</b></div>
	      <div class="col-sm-3">[[ selected.id ]]</div>

	      <div class="col-sm-2 text-right ml-auto"><b>Status:</b></div>
	      <div class="col-sm-3" ng-class="{'text-success': selected.status == 'active'}">
		<b>[[ selected.status ]]</b></div>
	    </div>
	    <div class="row">
	      <div class="col-sm-3 text-right"><b>Name:</b></div>
	      <div class="col-sm-3">
		<div ng-hide="edit_name" ng-click="edit_name=true">
		  [[ selected.name ]]
		</div>
		<input class="form-control" type="text" style="padding: 4px"
		       ng-show="edit_name" ng-model="selected.name"
		       ng-blur="on_edit_node()" focus-on-show>
	      </div>

	      <div class="col-sm-3 text-right"><b>Deployment date:</b></div>
	      <div class="col-sm-3">[[ selected.date | date : 'short' ]]</div>
	    </div>

	    <div class="row">
	      <div class="col-sm-3 text-right"><b>Objects:</b></div>
	      <div class="col-sm-3">[[ selected.object_ids ]]</div>

	      <div class="col-sm-3 text-right"><b>Endpoints:</b></div>
	      <div class="col-sm-3">
		<div ng-hide="edit_endpoints" ng-click="edit_endpoints=true">
		  [[ selected.endpoints ]]
		</div>
		<input class="form-control" type="text" style="padding: 4px"
		       ng-show="edit_endpoints" ng-model="selected.endpoints"
		       ng-blur="on_edit_node()" focus-on-show>
	      </div>
	    </div>
	  </div>
	</div>
	<br>

	<!-- SmartObject interfaces ---------------------------------------------->

	<div ng-show="selected.id_for_SmartObject_EventSink">
	  <div class="card">
	    <h5 class="card-header">
	      <span class="text-secondary" title="Ice Identity">
		[[ selected.id_for_SmartObject_EventSink ]]</span>
	      <i class="fa fa-arrow-right"></i>
	      SmartObject::EventSink</h5>
	    <div class="card-body">
	      <div class="row">
		<div class="col-sm-10">
		  This interface has a single method: <code>notify()</code>. You
		  can call it using the button on the right. It will use
		  the default parameters.
		</div>
		<div class="col-sm-2 text-right">
		  <a href="#" class="btn btn-sm btn-success"
		     ng-click="on_EventSink_notify()">notify</a>
		</div>
	      </div>
	    </div>
	  </div>
	  <br>
	</div>

	<div ng-show="selected.id_for_SmartObject_DigitalSink">
	  <div class="card">
	    <h5 class="card-header">
	      <span class="text-secondary" title="Ice Identity">
		[[ selected.id_for_SmartObject_DigitalSink ]]</span>
	      <i class="fa fa-arrow-right"></i>
	      SmartObject::DigitalSink</h5>
	    <div class="card-body">
	      <div class="row">
		<div class="col-sm-10">
		  This interface has a single method: <code>notify()</code>,
		  which sends a boolean value (according to the
		  checkbox). You can call it using the button on the
		  right. It will use the default parameters.</div>
		<div class="col-sm-2 text-right">
		  <input type="checkbox" ng-model="digital_sink_state">
		  <a href="#" class="btn btn-sm btn-success"
		     ng-click="on_DigitalSink_notify()">notify</a>
		</div>
	      </div>
	    </div>
	  </div>
	  <br>
	</div>

	<!-- IoT Node interfaces ------------------------------------------------->

	<div ng-show="selected.id_for_IoT_WiFiAdmin">
	  <div class="card">
	    <h5 class="card-header">
	      <span class="text-secondary" title="Ice Identity">
		[[ selected.id_for_IoT_WiFiAdmin ]]</span>
	      <i class="fa fa-arrow-right"></i>
	      IoT::WiFiAdmin</h5>
	    <div class="card-body">
	      Use this interface to change the node's WiFi settings.

	      <div class="container">
		<form style="padding-top: 15px; margin-bottom: 0px">
		  <div class="form-group row">
		    <label for="ssid" class="col-form-label">SSID: </label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" id="ssid"
			     ng-model="selected.WiFiAdmin.ssid">
		    </div>

		    <label for="key" class="col-form-label">Key: </label>
		    <div class="col-sm-4">
		      <input type="password" class="form-control" id="key"
			     ng-model="selected.WiFiAdmin.key">
		    </div>

		    <a href="#" class="btn btn-primary" style="width: 55px"
		       ng-click="on_WiFiAdmin_setupWiFi()">set</a>
		  </div>

		</form>
	      </div>

	    </div>
	  </div>
	  <br>
	</div>

	<div ng-show="selected.id_for_IoT_ISPublisherAdmin">
	  <div class="card">
	    <h5 class="card-header">
	      <span class="text-secondary" title="Ice Identity">
		[[ selected.id_for_IoT_ISPublisherAdmin ]]</span>
	      <i class="fa fa-arrow-right"></i>
	      IoT::ISPublisherAdmin</h5>
	    <div class="card-body">

	      <form>
		<div class="form-row">

		  <div class="col">
		    <label for="topicmgr">This is the proxy of the IceStorm <code>TopicManager</code>,
		    used by node to send it's notifications. </label>
		    <input type="text" class="form-control" id="topicmgr"
			   ng-model="selected.ISPublisherAdmin.TopicManager">
		  </div>

		  <div class="col-sm-1 text-right">
		    <label style="visibility: hidden">a </label><br>
		    <a href="#" class="btn btn-primary" style="width: 55px"
		       ng-click="on_ISPublisher_setTopicManager()">Set</a>
		  </div>

		</div>
	      </form>

	    </div>
	  </div>
	  <br>
	</div>

	<div ng-show="selected.id_for_IoT_NodeAdmin">
	  <div class="card">
	    <h5 class="card-header">
	      <span class="text-secondary" title="Ice Identity">
		[[ selected.id_for_IoT_NodeAdmin ]]</span>
	      <i class="fa fa-arrow-right"></i>
	      IoT::Node</h5>
	    <div class="card-body text-center">
	      <a href="#" class="btn btn-primary"
		 ng-click="on_NodeAdmin_restart()">Restart Node</a>&nbsp;&nbsp;
	      <a href="#" class="btn btn-danger"
		 ng-click="on_NodeAdmin_factoryReset()">Factory Reset</a>
	    </div>
	  </div>
	  <br>
	</div>

      </div>

    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Modal window: add node -->
    <div class="modal fade" id="add-node-dialog">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
            <h5 class="modal-title">Add new node...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" ng-click="new_node = {}">&times;</span>
            </button>
	  </div>
	  <div class="modal-body">
	    <form>

	      <div class="form-row" style="padding-bottom: 10px">
		<div class="col-sm-4">Serial Number:</div>
		<div class="col-sm-8">
		  <input type="text" class="form-control" placeholder="1234567"
			 ng-model="new_node.sn" autofocus></div>
	      </div>

	      <div class="form-row" style="padding-bottom: 10px">
		<div class="col-sm-4">Name:</div>
		<div class="col-sm-8">
		  <input type="text" class="form-control" placeholder="My Node"
			 ng-model="new_node.name" autofocus></div>
	      </div>

	      <div class="form-row" style="padding-bottom: 10px">
		<div class="col-sm-4">Current Endpoint:</div>
		<div class="col-sm-8">
		  <input type="text" class="form-control" placeholder="tcp -h 192.168.0.10 -p 1234"
			 ng-model="new_node.endpoint"></div>
	      </div>

	      <div class="form-row" style="padding-bottom: 10px">
		<div class="col-sm-4">Objects:</div>
		<div class="col-sm-8">
		  <textarea class="form-control" rows="4"
			    placeholder="Identity1: Mod.Iface1, Mod.Iface2"
			    ng-model="new_node.objects"></textarea>
		  <small class="form-text text-muted">Add an object per line</small>
	      </div>

	    </form>
	  </div>
	  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
		    ng-click="new_node = {}">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
		    ng-click="on_new_node()">Add</button>
	  </div>
	</div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sb-admin.js') }}"></script>

    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </div>
</body>

</html>

<!--
 Local Variables:
   truncate-lines: true
 End:
-->
