{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Citisim Persistence Service') }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block branding %}
<img src="{% static 'images/citisim-logo.png' %}"></img>
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">{{ site_header|default:_('Citisim Persistence Service') }}
  </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
